:root{
    --fontOne:'Montserrat', sans-serif;
    --fontTwo:'Poppins', sans-serif;
    
    --gm-white-50: #ffffff;
    --gm-White-100:#fff;
    --gm-Red-50: #FFEBEE;
    --gm-Red-100: #FFCDD2;
    --gm-Red-200: #EF9A9A;
    --gm-Red-300: #E57373;
    --gm-Red-400: #EF5350;
    --gm-Red-500: #F44336;
    --gm-Red-600: #E53935;
    --gm-Red-700: #D32F2F;
    --gm-Red-800: #C62828;
    --gm-Red-900: #B71C1C;
    --gm-Red-A100: #FF8A80;
    --gm-Red-A200: #FF5252;
    --gm-Red-A400: #FF1744;
    --gm-Red-A700: #D50000;
    --gm-Pink-50: #FCE4EC;
    --gm-Pink-100: #F8BBD0;
    --gm-Pink-200: #F48FB1;
    --gm-Pink-300: #F06292;
    --gm-Pink-400: #EC407A;
    --gm-Pink-500: #E91E63;
    --gm-Pink-600: #D81B60;
    --gm-Pink-700: #C2185B;
    --gm-Pink-800: #AD1457;
    --gm-Pink-900: #880E4F;
    --gm-Pink-A100: #FF80AB;
    --gm-Pink-A200: #FF4081;
    --gm-Pink-A400: #F50057;
    --gm-Pink-A700: #C51162;
    --gm-Purple-50: #F3E5F5;
    --gm-Purple-100: #E1BEE7;
    --gm-Purple-200: #CE93D8;
    --gm-Purple-300: #BA68C8;
    --gm-Purple-400: #AB47BC;
    --gm-Purple-500: #9C27B0;
    --gm-Purple-600: #8E24AA;
    --gm-Purple-700: #7B1FA2;
    --gm-Purple-800: #6A1B9A;
    --gm-Purple-900: #4A148C;
    --gm-Purple-A100: #EA80FC;
    --gm-Purple-A200: #E040FB;
    --gm-Purple-A400: #D500F9;
    --gm-Purple-A700: #AA00FF;
    --gm-Deep-Purple-50: #EDE7F6;
    --gm-Deep-Purple-100: #D1C4E9;
    --gm-Deep-Purple-200: #B39DDB;
    --gm-Deep-Purple-300: #9575CD;
    --gm-Deep-Purple-400: #7E57C2;
    --gm-Deep-Purple-500: #673AB7;
    --gm-Deep-Purple-600: #5E35B1;
    --gm-Deep-Purple-700: #512DA8;
    --gm-Deep-Purple-800: #4527A0;
    --gm-Deep-Purple-900: #311B92;
    --gm-Deep-Purple-A100: #B388FF;
    --gm-Deep-Purple-A200: #7C4DFF;
    --gm-Deep-Purple-A400: #651FFF;
    --gm-Deep-Purple-A700: #6200EA;
    --gm-Indigo-50: #E8EAF6;
    --gm-Indigo-100: #C5CAE9;   
    --gm-Indigo-200: #9FA8DA;
    --gm-Indigo-300: #7986CB;
    --gm-Indigo-400: #5C6BC0;
    --gm-Indigo-500: #3F51B5;
    --gm-Indigo-600: #3949AB;
    --gm-Indigo-700: #303F9F;
    --gm-Indigo-800: #283593;
    --gm-Indigo-900: #1A237E;
    --gm-Indigo-A100: #8C9EFF;
    --gm-Indigo-A200: #536DFE;
    --gm-Indigo-A400: #3D5AFE;
    --gm-Indigo-A700: #304FFE;
    --gm-Blue-50: #E3F2FD;
    --gm-Blue-100: #BBDEFB;
    --gm-Blue-200: #90CAF9;
    --gm-Blue-300: #64B5F6;
    --gm-Blue-400: #42A5F5;
    --gm-Blue-500: #2196F3;
    --gm-Blue-600: #1E88E5;
    --gm-Blue-700: #1976D2;
    --gm-Blue-800: #1565C0;
    --gm-Blue-900: #0D47A1;
    --gm-Blue-A100: #82B1FF;
    --gm-Blue-A200: #448AFF;
    --gm-Blue-A400: #2979FF;
    --gm-Blue-A700: #2962FF;
    --gm-Light-Blue-50: #E1F5FE;
    --gm-Light-Blue-100: #B3E5FC;
    --gm-Light-Blue-200: #81D4FA;
    --gm-Light-Blue-300: #4FC3F7;
    --gm-Light-Blue-400: #29B6F6;
    --gm-Light-Blue-500: #03A9F4;
    --gm-Light-Blue-600: #039BE5;
    --gm-Light-Blue-700: #0288D1;
    --gm-Light-Blue-800: #0277BD;
    --gm-Light-Blue-900: #01579B;
    --gm-Light-Blue-A100: #80D8FF;
    --gm-Light-Blue-A200: #40C4FF;
    --gm-Light-Blue-A400: #00B0FF;
    --gm-Light-Blue-A700: #0091EA;
    --gm-Cyan-50: #E0F7FA;
    --gm-Cyan-100: #B2EBF2;
    --gm-Cyan-200: #80DEEA;
    --gm-Cyan-300: #4DD0E1;
    --gm-Cyan-400: #26C6DA;
    --gm-Cyan-500: #00BCD4;
    --gm-Cyan-600: #00ACC1;
    --gm-Cyan-700: #0097A7;
    --gm-Cyan-800: #00838F;
    --gm-Cyan-900: #006064;
    --gm-Cyan-A100: #84FFFF;
    --gm-Cyan-A200: #18FFFF;
    --gm-Cyan-A400: #00E5FF;
    --gm-Cyan-A700: #00B8D4;
    --gm-Teal-50: #E0F2F1;
    --gm-Teal-100: #B2DFDB;
    --gm-Teal-200: #80CBC4;
    --gm-Teal-300: #4DB6AC;
    --gm-Teal-400: #26A69A;
    --gm-Teal-500: #009688;
    --gm-Teal-600: #00897B;
    --gm-Teal-700: #00796B;
    --gm-Teal-800: #00695C; 
    --gm-Teal-900: #004D40;
    --gm-Teal-A100: #A7FFEB;
    --gm-Teal-A200: #64FFDA;
    --gm-Teal-A400: #1DE9B6;
    --gm-Teal-A700: #00BFA5;
    --gm-Green-50: #E8F5E9;
    --gm-Green-100: #C8E6C9;
    --gm-Green-200: #A5D6A7;
    --gm-Green-300: #81C784;
    --gm-Green-400: #66BB6A;
    --gm-Green-500: #4CAF50;
    --gm-Green-600: #43A047;
    --gm-Green-700: #388E3C;
    --gm-Green-800: #2E7D32;
    --gm-Green-900: #1B5E20;
    --gm-Green-A100: #B9F6CA;
    --gm-Green-A200: #69F0AE;
    --gm-Green-A400: #00E676;
    --gm-Green-A700: #00C853;
    --gm-Light-Green-50: #F1F8E9;
    --gm-Light-Green-100: #DCEDC8;
    --gm-Light-Green-200: #C5E1A5;
    --gm-Light-Green-300: #AED581;
    --gm-Light-Green-400: #9CCC65;
    --gm-Light-Green-500: #8BC34A;
    --gm-Light-Green-600: #7CB342;
    --gm-Light-Green-700: #689F38;
    --gm-Light-Green-800: #558B2F;
    --gm-Light-Green-900: #33691E;
    --gm-Light-Green-A100: #CCFF90;
    --gm-Light-Green-A200: #B2FF59;
    --gm-Light-Green-A400: #76FF03;
    --gm-Light-Green-A700: #64DD17;
    --gm-Lime-50: #F9FBE7;
    --gm-Lime-100: #F0F4C3;
    --gm-Lime-200: #E6EE9C;
    --gm-Lime-300: #DCE775;
    --gm-Lime-400: #D4E157;
    --gm-Lime-500: #CDDC39;
    --gm-Lime-600: #C0CA33;
    --gm-Lime-700: #AFB42B;
    --gm-Lime-800: #9E9D24;
    --gm-Lime-900: #827717; 
    --gm-Lime-A100: #F4FF81;
    --gm-Lime-A200: #EEFF41;
    --gm-Lime-A400: #C6FF00;
    --gm-Lime-A700: #AEEA00;
    --gm-Yellow-50: #FFFDE7;
    --gm-Yellow-100: #FFF9C4;
    --gm-Yellow-200: #FFF59D;
    --gm-Yellow-300: #FFF176;
    --gm-Yellow-400: #FFEE58;
    --gm-Yellow-500: #FFEB3B;
    --gm-Yellow-600: #FDD835;
    --gm-Yellow-700: #FBC02D;
    --gm-Yellow-800: #F9A825;
    --gm-Yellow-900: #F57F17;
    --gm-Yellow-A100: #FFFF8D;
    --gm-Yellow-A200: #FFFF00;
    --gm-Yellow-A400: #FFEA00;
    --gm-Yellow-A700: #FFD600;
    --gm-Amber-50: #FFF8E1;
    --gm-Amber-100: #FFECB3;
    --gm-Amber-200: #FFE082;
    --gm-Amber-300: #FFD54F;
    --gm-Amber-400: #FFCA28;
    --gm-Amber-500: #FFC107;
    --gm-Amber-600: #FFB300;
    --gm-Amber-700: #FFA000;
    --gm-Amber-800: #FF8F00;
    --gm-Amber-900: #FF6F00;
    --gm-Amber-A100: #FFE57F;
    --gm-Amber-A200: #FFD740;
    --gm-Amber-A400: #FFC400;
    --gm-Amber-A700: #FFAB00;
    --gm-Orange-50: #FFF3E0;
    --gm-Orange-100: #FFE0B2;
    --gm-Orange-200: #FFCC80;
    --gm-Orange-300: #FFB74D;
    --gm-Orange-400: #FFA726;
    --gm-Orange-500: #FF9800;
    --gm-Orange-600: #FB8C00;
    --gm-Orange-700: #F57C00;
    --gm-Orange-800: #EF6C00;
    --gm-Orange-900: #E65100;
    --gm-Orange-A100: #FFD180;
    --gm-Orange-A200: #FFAB40;
    --gm-Orange-A400: #FF9100;
    --gm-Orange-A700: #FF6D00;
    --gm-Deep-Orange-50: #FBE9E7;
    --gm-Deep-Orange-100: #FFCCBC;
    --gm-Deep-Orange-200: #FFAB91;
    --gm-Deep-Orange-300: #FF8A65;
    --gm-Deep-Orange-400: #FF7043;
    --gm-Deep-Orange-500: #FF5722;
    --gm-Deep-Orange-600: #F4511E;
    --gm-Deep-Orange-700: #E64A19;
    --gm-Deep-Orange-800: #D84315;
    --gm-Deep-Orange-900: #BF360C;
    --gm-Deep-Orange-A100: #FF9E80;
    --gm-Deep-Orange-A200: #FF6E40;
    --gm-Deep-Orange-A400: #FF3D00;
    --gm-Deep-Orange-A700: #DD2C00;
    --gm-Brown-50: #EFEBE9;
    --gm-Brown-100: #D7CCC8;
    --gm-Brown-200: #BCAAA4;
    --gm-Brown-300: #A1887F;
    --gm-Brown-400: #8D6E63;
    --gm-Brown-500: #795548;
    --gm-Brown-600: #6D4C41;
    --gm-Brown-700: #5D4037;
    --gm-Brown-800: #4E342E;
    --gm-Brown-900: #3E2723;
    --gm-Grey-50: #FAFAFA;
    --gm-Grey-100: #F5F5F5;
    --gm-Grey-200: #EEEEEE;
    --gm-Grey-300: #E0E0E0;
    --gm-Grey-400: #BDBDBD;
    --gm-Grey-500: #9E9E9E;
    --gm-Grey-600: #757575;
    --gm-Grey-700: #616161;
    --gm-Grey-800: #424242;
    --gm-Grey-900: #212121;
    --gm-Blue-Grey-50: #ECEFF1;
    --gm-Blue-Grey-100: #CFD8DC;
    --gm-Blue-Grey-200: #B0BEC5;
    --gm-Blue-Grey-300: #90A4AE;
    --gm-Blue-Grey-400: #78909C;
    --gm-Blue-Grey-500: #607D8B;
    --gm-Blue-Grey-600: #546E7A;
    --gm-Blue-Grey-700: #455A64;
    --gm-Blue-Grey-800: #37474F;
    --gm-Blue-Grey-900: #263238;
    --gm-Black-900: #000000; 
}
.content .animate__bounceInDown{
    animation-duration: 3s;
}
.content .animate__zoomIn{
    animation-duration: 8s;
}

/*==============================
-> RESET GLOBAL
================================*/
html{
    box-sizing: border-box;
    font-size: 62.5%;
    height: 100%;
}
*,*:before, *:after{
    box-sizing: inherit;
    text-decoration: none;
    list-style-type:none;
}
body{
    font-size: 1.6rem;
    font-family: var(--tipography-menu);
    font-family: var(--fontTwo);
    min-height: 100%;
}
/*==================================
-> GLOBALES
====================================*/
.contenedor{
    width: min(95%, 120rem);
    margin: 1rem auto;
}
img{
    max-width:100%;
}
/*===============================
-> UTILIDADES
=================================*/
.m-0{
    margin: 0;
}
.text-container{
    text-align: justify;
    margin-bottom: 1.5rem;
    color: var(--gm-Grey-600);
}
.pad-left-0{
    padding-left: 0;
}
.w-100{
    width: 100%;
}
.h-100{
    height: 100%;
}
p-1r{
    padding: 1rem;
}
/*===============================
-> HEADING
=================================*/
h2{
    font-family: var(--fontTwo);
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    margin-top: 0;
    color: #545454;
}
p{
    margin: 0;
    /* font-size: 1.5rem; */
    line-height: 1.5;
}
/*===============================
-> HEADER
=================================*/
header{
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px;
    transition: 0.5 ease;
    border-bottom: 1px solid rgba(248, 248, 250, 0.129);
}
@media(min-width: 992px){
    header{
        border: none;
    }
}
header .brand{
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
}
header .navigation{
    position: relative;
}
header .navigation .navigation-items a{
    position: relative;
    color: var(--gm-white-100);
    font-size: 1.4rem;
    font-weight: 500;
    margin-left: 30px;
    transition: 0.3s ease;
}
header .navigation .navigation-items a::before{
    content: '';
    position: absolute;
    background: var(--gm-White-100);
    width: 0;
    height:1px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}
header .navigation .navigation-items a:hover::before{
    width: 100%;
}

/*===============================
-> SECTION - HOME
=================================*/
section{
    padding: 100px 200px;
}
.home{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: rgb(55, 55, 56);
}
@media(min-width:992px){
    .home{
        height: 60rem;
    }
}
.home::before{
    z-index: 777;
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, 0.612);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.home .content{
    z-index: 888;
    color: var(--gm-white-50);
    width: 75%;
    margin-top: 50px;
    display: none;
}
.home .content.active{
    display: block;
}
.home .content h1{
    font-size: 8vw;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 75px;
    margin-bottom: 40px;
}
.home .content h1 span{
    font-size: 4.5vw;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.87);
}
@media(min-width:576px){
    .home .content h1{
        font-size: 3.5rem;
    }
    .home .content h1 span{
        font-size: 1.7rem;
    }
}
@media(min-width:768px){
    .home .content h1{
        font-size: 5rem;
    }
    .home .content h1 span{
        font-size: 2.5rem;
    }
}

.home .content p{
    margin-bottom: 65px;
    text-align: justify;
}
.home .content a{
    background:  var(--gm-white-50);
    box-shadow: inset -8px -5px 11px -5px rgb(0 0 0 / 60%);
    padding: 15px 35px;
    color: var(--gm-Grey-700);
    font-size: 1.4rem;
    font-weight:  300;
    border-radius: 2.5px;
}
.home .media-icons{
    z-index: 888;
    position: absolute;
    right: 30px;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
}
.home .media-icons a{
    color: var(--gm-white-50);
    font-size: 3rem;
    transition: 0.3s ease;
}
.home .media-icons a:not(:last-child){
    margin-bottom: 20px;
}
.home .media-icons a:hover{
    transform: scale(1.3);
}
.home .imagen__slide{
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider-navigation{
    z-index: 888;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(80px);
    margin-bottom: 12px;
}
.slider-navigation .nav-btn{
    width: 12px;
    height: 12px;
    background: var(--gm-white-50);
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(255,255,255,0.5);
    transition: 0.3s ease;
}
.slider-navigation .nav-btn.active{
    background: var(--gm-White-100);
    opacity: 1;
}

.slider-navigation .nav-btn:not(:last-child){
    margin-right: 20px;
}
.slider-navigation .nav-btn:hover{
    transform: scale(1.3);
}

.imagen__slide{
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}
.imagen__slide.active{
    clip-path: circle(150% at 0 50%);
    transition: 2s ease;
    transition-property: clip-path;

}

@media(min-width:992px){
    .slider-navigation{
        position: absolute;
        left: 2%;
        top: 27%;
        height: 130px;
        display: grid;
        grid-row: 1rem;
    }
    .slider-navigation .nav-btn{
        width: 15px;
        height: 15px;
        border: 1px solid rgba(128, 128, 128, 0.299);
        box-shadow: 0 0 2px rgba(255,255,255,0.5);
        opacity: 0.5;
        transition: 0.3s ease;
    }
}
@media(max-width: 1040px){
    header{
        padding: 12px 20px;
    }
    section{
        padding: 100px 20px;
    }
    .home .media-icons{
        right: 15px;
    }
    header .navigation{
        display: none;
    }
    header .navigation.active{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(1, 1, 1, 0.5);
    }
    header .navigation .navigation-items a{
        color: var(--gm-Grey-900);
        font-size: 1.6rem;
        margin: 20px;
    }
    header .navigation .navigation-items a::before{
        background: var(--gm-Grey-800);
        height: 1px;

    }
    header .navigation.active .navigation-items{
        background: var(--gm-white-50);
        width: 500px;
        max-width: 500px;
        margin: 20px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        box-shadow: 0 5px 25px rgba(1 1 1 / 20%);
    }
    .animate__backInDown{
        animation-duration: 2s;
    }
}
.btn {
    background: none !important;
    border: 2px solid var(--gm-Black-900);
    margin: 2px;
    padding: 5px 15px;
    font-size: 20px;
    cursor: pointer;
    position: relative;
}
.btn1 {
    border: 2px solid var(--gm-white-50) !important;
    color: var(--gm-white-50) !important;
}
.btn1::before {
    content: "";
    background: var(--gm-white-50) !important;
    top: 0;
    left: 0;
    /* bottom: 0;
    right: 0; */
    width: 0;
    height: 0;
    position: absolute;
    z-index: -1;
    border-radius: 3px;
}
.btn1:hover::before {
    width: 100%;
    height: 100%;
    transition: 0.5s;
  }
  
.btn1:hover {
    color: var(--gm-Grey-800) !important;
    border: none !important;
}
.btn-mod:hover{
    animation: shadow-pulse 1500ms 1;
}
@keyframes shadow-pulse {
    0% {
      box-shadow: 0 0 0 0 #afadaeaf;
    }
    100% {
      box-shadow: 0 0 8px 16px rgba(112, 113, 113, 0);
    }
}

/*=========================
->  DIV LOGO 
===========================*/
.logo{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 254, 0.507);
    color: var(--gm-White-100);
}
/*==========================
-> DIV NAVEGACION
============================*/
.navegacion{
    width: 100%;
    height: 100vh;
    top: 0;
    left: -100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.295);
    z-index: 4;
}
@media(min-width:992px){
    .navegacion{
        position: static;
        height: initial;
        background-color: transparent;
    }    
}
/*==========================
-> NAV
============================*/
.nav{
    max-width: 76%;
    height: 100%;
    background: var(--gm-White-100);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1px rgb(0 0 0 / 15%), inset 0 0 6px rgb(0 0 0 / 20%);
}
@media(min-width:336px){
    .nav{
        max-width: 78%;
    }
}
@media(min-width:400px){
    .nav{
        max-width: 84%;
    }
}
@media(min-width:576px){
    .nav{
        max-width: 87%;
    }
}
@media(min-width:620px){
    .nav{
        max-width: 88%;
    }
}
@media(min-width:665px){
    .nav{
        max-width: 89%;
    }
}
@media(min-width:768px){
    .nav{
        max-width: 90%;
    }
}
@media(min-width:820px){
    .nav{
        max-width: 91%;
    }
}
@media(min-width:900px){
    .nav{
        max-width: 91.5%;
    }
}
@media(min-width:945px){
    .nav{
        max-width: 92%;
    }
}
@media(min-width:992px){
    .nav{
        width: auto;
        box-shadow: none;
        padding-right: 2rem;
        background-color: transparent;
    }
}  
/*====================
-> UL: MEN - SUBMEN
======================*/
.nav .men{
    width: 100%;
    padding: 0;
}
.men li{
    text-align: center;
    padding: 10px 0px;
}
.men li:hover{
    background: #8080800e;
}
.men li a{
    color: var(--colorTitulo);
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 300;
    position: relative;
}
.men li a:hover{
    font-weight: 500;
}
.men li a::after{
    content: "";
    position: absolute;
    display: block;
    width: 0;
    top: calc(100% + -1px);
    height: 2px;
    bottom: 0;
    left: 0;
    transition: all .5s;
}
.men li a:hover::after{
    width:100%;
}
@media(max-width:992px){
    .men li a{
        color: var(--gm-Grey-800);
        transition: font-weight .2s ease;
    }
    .men li:hover a{
        letter-spacing: 1.1px;
        font-weight: 520;
    }
    .logo-men-responsive a{
        text-align: center;
    }
}
#men--mod{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#ico-submenu{
    cursor: pointer;
    margin-left:0.5rem;
}
.submenu a{
    display: flex;
    justify-content: center;
    align-items: center;
}
.submen{
    width: 100%;
}
.submen li{
    border: none;
    padding-left: 0;
}
@media(min-width:480px){
    .men{
        width: 87%;
    }
}
@media(min-width:576px){
    .men{
        width: 89%;
    }
}
@media(min-width:600px){
    .men{
        width: 90%;
    }
}
@media(min-width:768px){
    .men{
        width: 92%;
    }
}
@media(min-width:900px){
    .men{
        width: 93%;
    }
}
@media(min-width:992px){
    #ico-submenu{
        display: none;
    }
    .men{
        width: 100%;
        display: initial;
        position: initial;
        height: initial;
        box-shadow: none;
        background-color: transparent;
        grid-column: 2 / 4;
        grid-row: 2 / 3;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 1.2rem;
    }
    .men li{
        position: relative;
        display: inline-block;
        padding: 0;
        border: none;
    }
    .men li a{
        font-size: 1.3rem;
    }
    #men--mod{
        display: initial;
    }
    .men a{
        display: block;
        text-align: center;
        font-weight: 300;
        line-height: 50px;
        color: var(--bg-white) !important;
        position: relative;
        padding: 0 1.3rem;
    }
    .men a::before{
        content: "";
        display: block;
        background-color: rgba(251, 251, 251, 0.81);
        position: absolute;
        left: 17%;
        top: calc(100% + -12px);
        width: 0;
        height: 2px;
        transition: all .5s;
    }
    .men a.selected::before,
    .men a:hover::before{
        width: 65%;
    }
    .fijo .men a.selected{
        color: var(--gm-Red-600) !important;
    }
    /*====================
    -> SUBMENÚ
    ======================*/
    .submen{
        width: 20rem;
        position: absolute;
        visibility: hidden;
        opacity: 0;
        transition: opacity 2s;
        background-color: var(--bg-white);
    }
    .submen li{
        background-color: var(--bg-white);
        border-radius: none;
    }
    .submen li a{
        display: block;
        width: 19.99rem;
        text-align: initial;
        color: var(--gm-Grey-700) !important;
        text-transform: uppercase;
        font-size: 1.4rem;
        transition: background-color .5s,
                    font-weight .5s,
                    letter-spacing .5s;
    }
    .men li:hover .submen{
        visibility: visible;
        opacity: 1;
    }
    .submen li a:hover{
        font-weight: 500;
        letter-spacing: 1.1px;
        border-radius: 0;
    }
    .submen a::before{
        content: none;
    }
}

/*==============================
-> COMUNICACION
================================*/
.comunicacion{
    display: none;
}
@media(min-width:992px){
    .comunicacion{
        position: absolute;
        color: var(--gm-white-50);
        border-top: 1px solid rgba(248, 248, 250, 0.129);
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 777;
    }
    .comunicacion p{
        font-size: 1.3rem;
    }
    .ubicacion, .email, .telefono{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 1.5rem;
    }
   
    .ubicacion i, .email i, .telefono i{
        padding: 1.5rem;
        font-size: 3rem;
    }
}

/*================================
-> LOGO-MENÚ RESPONSIVE
==================================*/
.logo-men-responsive{
    margin-bottom: 2rem;
    position: relative;
}
.logo-men-responsive::after{
    content: "";
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    left: 45%;
    margin: 0 auto;
}
.logo-men-responsive a{
    display: grid;
    place-self: center;
}
.logo-men-responsive img{
    width: 60%;
    margin: 0 auto;
}
@media(min-width:480px){
    .logo-men-responsive img{
        width: 50%;
    }
}
@media(min-width:576px){
    .logo-men-responsive img{
        width: 40%;
    }
    .logo-men-responsive::after{
        left: 47%;
    }
}
@media(min-width:992px){
    .logo-men-responsive img{
        display: none;
    }
    .logo-men-responsive::after{
        width: 0;
        height: 0;
        background: none;
    }
}
/*==================================
-> BOTON_MENU-REPONSIVE
====================================*/
.btnMenu{
    display: flex;
    align-items: center;
    color: var(--gm-White-100);
    text-transform: uppercase;
    font-size: 1.3rem;
    padding-left: 1rem;
}
.btnMenu button{
    background: none;
    border: 0;
    cursor: pointer;
    padding: 0;
    width: 60px;
    height: 60px;
    z-index: 1;
}
.btnMenu button:hover{
    opacity: 0.8;
    transition: all .4s;
}
.btnMenu button span{
    border-radius: 5px;
    background: var(--gm-White-100);
    display: block;
    width: 40%;
    margin: 5px auto;
    height: 2px;
}
@media(min-width:992px){
    .contenedor-btnmenu{
        display: none;
    }
}

/*==============================
MAIN: 
-> SECTION 01
================================*/
.section-1{
    display: grid;
    column-gap: 1rem;
    grid-template-areas: "column-left" "subtitle" "column-right" "list-container";
    padding: 12rem 0;
}
.picture__imagen{
    width: 100%;
    height: auto;
}
.subtitle{
    grid-area: subtitle;
    text-align: center;
    padding: 2rem 0;
}
.column-left{/*contiene imagen*/
    grid-area: column-left;
    text-align: center;
}
.picture img{
    border-radius: 50%;
    padding: 1% 12% 1% 25%;
    transition: padding ease-in-out 1.5s;
}
.picture img:hover{
    padding: 1% 25% 1% 12%;
}

.column-right{/*contiene textos*/
    grid-area: column-right;
    margin-bottom: 1rem;
}
.list-container{
    grid-area: list-container;
    border-top: 1px solid var(--gm-Grey-500);
}
.items-list{
    position: relative;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 0;
}
.item-list{
    display: flex;
    font-size: 1.5rem;
    padding: 1rem 0;
    color: var(--gm-Grey-700);
}
.item-list i{
    color: var(--bg-red);
    margin-right: 0.5rem;
}
@media(min-width:992px){
    .section-1{
       grid-template-columns: 1fr 1.5fr;
    }
    .picture__imagen{
        padding: 1.5rem !important;
        margin: 0 !important;
    }
    .subtitle{
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    .column-left{
        grid-row: 1 / 3;

    }
    .top-grid1{
        grid-column: 2 / 3;
    }
    .top-grid2{
        grid-column: 2 / 3;
    }
    .top-grid2.item-list{
        text-align: justify;
    }
}

/*==============================
-> SECTION 02: SERVICIOS
================================*/
.section-2{
    background-color: var(--gm-Grey-50);
    padding: 12rem 0;
    overflow: hidden;
}
.top-container{
    margin: 0 4rem 4rem 4rem;
}
.bottom-container{
    display: flex;
    width: 400%;
    animation: slider 40s infinite;
}
.box-container{
    width: 100%;
    background-color: var(--gm-white-50);
    padding: 4rem;
}
.icon-container i{
    font-size: 5rem;
    color: var(--gm-Red-800);
    margin: 2rem 0;
    padding: 2rem;
}
.link-container{
    margin-bottom: 2rem;
}
.link-container a{
    color: var(--gm-Grey-900);
    font-weight: 700;
    font-size: 1.8rem;
}
.link-container--mod a{
    color: var(--gm-Grey-600);
    text-transform: uppercase;
}

@keyframes slider{
    0%{margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}
@media(min-width:576px){
    .bottom-container{
        width: 200%;
        animation: slider 15s infinite; 
    }
    @keyframes slider{
        0%{margin-left: 0;}
        45%{margin-left: 0;}
    
        50%{margin-left: -100%;}
        100%{margin-left: -100%;}
    }
}
@media(min-width:995px){
    .section-2{
        overflow-wrap: break-word;
    }
    .bottom-container{
        width: 133%;
    }
    @keyframes slider{
        0%{margin-left: 0;}
        45%{margin-left: 0;}
    
        50%{margin-left: -100%;}
        100%{margin-left: 0%;}
    }
}
/*==============================
-> SECTION 03
================================*/
.section-3{
    padding: 12rem 0;
}
/*=======================
Contenedor de categorias
=========================*/
input[type="radio"]{
    display: none;
}
.container-category{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
@media(min-width:576px){
    .container-category{
        grid-template-columns: repeat(3,1fr);
    }
}
@media(min-width:768px){
    .container-category{
        grid-template-columns: repeat(4,1fr);
    }
}
@media(min-width:992px){
    .container-category{
        grid-template-columns: repeat(5,1fr);
    }
}
@media(min-width:992px){
    .container-category{
        display: flex;
        justify-content: center;
    }
}
.container-category label{
    text-align: center;
    padding: 15px 20px;
    margin: 5px;
    font-size: 1.6rem;
    background: #f3f3f33b;
    border-radius: 2px;
    cursor: pointer;
    border: 1px solid rgba(128, 128, 128, 0.082);
    color: var(--gm-Grey-500);
}
.container-category label:hover{
    opacity: 0.8;
    color: var(--gm-Red-600);
}
/*==================================
-> Tarjetas
====================================*/
.tarjeta{
    margin-bottom: 3rem;
    border: 1px solid rgba(230, 230, 230, 0.122);
    border-radius: 4px;
}
.tarjeta:last-child{
    margin-bottom: 0;
}

@media(min-width:576px){
    .tarjetas{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 2.5rem;
    }
}
@media(min-width:1200px){
    .tarjetas{
        grid-template-columns: repeat(4,1fr);
    }
}
.tarjeta{
    transform-style: preserve-3d;
    position: relative;
    overflow: hidden;
    padding: 10px;
    transition: box-shadow ease .5s, border-radius eaes .5s;
}
.tarjeta:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 4px;
}
.ctn-img{
    overflow: hidden;
}
.ctn-img img{
    transition: transform ease .5s;
    object-fit: cover;
    cursor: pointer;
}
.tarjeta:hover .ctn-img img{
    transform: scale(1.1);
}
.cubrir{
    padding: 5px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(120%);
    transition: transform ease .7s, position ease .6s;
}
.cubrir h3{
    color: var(--gm-Grey-600);
    font-family: var(--fontTwo);
    font-weight: 400;
    opacity: 0;
    transition: opacity eases .7s;
    text-align: center;
}
.cubrir h4{
    font-size: 1.3rem;
    color: var(--gm-Grey-700);
    font-weight: 400;
    padding: 10px 0;
}
.link-zoom, .link-enlace{
    position: absolute;
    top: 35%;
    right: 0;
    display: flex;
    flex-direction: column;
    z-index: -1;
    cursor: pointer;
}
.link-enlace{
    top: 46%;
    z-index: 100;
}

.link-zoom a, .link-enlace a{
    color: var(--gm-White-100);
    background-color: var(--gm-Red-400);
    border: 1px solid var(--gm-Red-400);
    padding: 5px;
    margin: 10px;
    border-radius: 3px;
    opacity: 0;
    transform: scale(0);
    transition: opacity ease .7s, transform .8s;
}
.tarjeta:hover .cubrir,.tarjeta:hover .cubrir h3{
    transform: translateY(0);
    opacity: 1;
}
.tarjeta:hover .link-zoom a{
    opacity: 1;
    transform: scale(1);
}
.tarjeta:hover .link-enlace a{
    opacity: 1;
    transform: scale(1);
}
.tarjeta:hover .enlace{
    cursor: pointer;
    z-index: 1;
    
}
.zoom i, .enlace i{
    font-size: 2rem;
}

/*====================
-> lightbox
======================*/
#img-activa{
    width: 100%;
    height: auto;
}
#ligthbox-contenedor{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.741);
}
#ligthbox-interno{
   width: 500px;
   height: 400px;
   /* border: 2px #f3f3f3 solid; */
   border-radius:4px;
   padding: 2px; 
   display: flex;
   justify-content: center;
   position: relative;
   background-color: rgba(255, 255, 255, 0.415);
   margin: 0 10px;
}
@media(min-width:576px){
    #ligthbox-interno{
        margin: 0 auto;
    }
}
.btn-lightbox{
    cursor: pointer;
    background: transparent;
    border: none;
}
#btn-cierra{
    /* position: absolute;
    top: 0;
    right: 0; */
    font-size: 3rem;
    position: fixed;
    right: 30px;
    top: 30px;
    z-index: 10060;
    margin-top: -14px;
    margin-right: -14px;
    height: 44px;
    width: 44px;
    line-height: 44px;
    font-family: Arial,Baskerville,monospace;
    color: rgb(0, 0, 0);
    font-size: 3rem;
    transition: transform ease .5s;
}
#btn-cierra:hover{
    transform: scale(1.1);
}
#btn-retrocede{
    position: absolute;
    top: 50%;
    left: 0;
    font-size: 3rem;
}
#btn-adelanta{
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 3rem;
}
#btn-retrocede i, #btn-adelanta i{
    color: var(--gm-Grey-400);
    font-size: 4rem;
    transition: all ease .2s;
}
#btn-retrocede:hover i, #btn-adelanta:hover i{
    color: var(--gm-Grey-500);
    font-size: 4rem;
    transform: scale(0.96);
}
/*=====================
-> sistema de filtrado
=======================*/
[value="TODOS"]:checked ~ .posts .post[data-category]{
    display: block;
}
[value="SillaGamer"]:checked ~ .posts .post:not([data-category~="SillaGamer"]),
[value="SillaEscritorio"]:checked ~ .posts .post:not([data-category~="SillaEscritorio"]),
[value="SillaExterior"]:checked ~ .posts .post:not([data-category~="SillaExterior"]),
[value="ATP"]:checked ~ .posts .post:not([data-category~="ATP"]),
[value="fursys"]:checked ~ .posts .post:not([data-category~="fursys"]){
    display: none;
}

[value="TODOS"]:checked ~ .container-category [for="TODOS"],
[value="SillaGamer"]:checked ~ .container-category [for="SillaGamer"],
[value="SillaEscritorio"]:checked ~ .container-category [for="SillaEscritorio"],
[value="SillaExterior"]:checked ~ .container-category [for="SillaExterior"],
[value="ATP"]:checked ~ .container-category [for="ATP"],
[value="fursys"]:checked ~ .container-category [for="fursys"]{
    /* background: #46a2fd; */
    /* color: #fff; */
    color: var(--gm-Grey-600);
}
@media screen and (max-width: 1200px){
    .posts{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width: 900px){
    .posts{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 580px){
    .posts{
        grid-template-columns: repeat(1, 1fr);
    }
}





/*==============================
-> SECTION 04
================================*/
.section-4{
    background:var(--gm-Grey-50);
    padding: 12rem 0;
}
/*==============================
-> SECTION 05
================================*/
.section-5{
    padding: 12rem 0;
}
/*===================================
-> TESTIMONIO
=====================================*/
.container-sliderTestimonio{
    margin: 2rem auto;
    overflow: hidden;
    box-shadow: 0px 10px 13px -7px #3b3b3b, 5px 5px 15px 5px rgba(0,0,0,0);
    position: relative;
    border-radius: 1rem;
    border: 1px solid #b9b9b94b;
}
@media(min-width:480px){
    .container-sliderTestimonio{
        border-bottom-right-radius: none;
        border-radius: 1rem;
    }
}
@media(min-width:768px){
    .container-sliderTestimonio{
        box-shadow: none;
        position: relative;
    }
    .container-sliderTestimonio:before{
        position: absolute;
        content: "";
        z-index: -1;
        bottom: 10px;
        left: 1px;
        top: 80%;
        width: 60%;
        box-shadow: 0 18px 15px var(--gm-Grey-500);
        transform: rotate(-4deg);
    }
    .container-sliderTestimonio:after{
        position: absolute;
        content: "";
        z-index: -1;
        bottom: 10px;
        right: 1px;
        top: 80%;
        width: 60%;
        box-shadow: 0 18px 15px var(--gm-Grey-500);
        transform: rotate(4deg);
    }
}
@media(min-width:992px){
    .container-sliderTestimonio::after,
    .container-sliderTestimonio::before{
        content: none;
    }
    .container-sliderTestimonio{
        border-radius: 0;
        box-shadow: 8px 8px rgba(78, 78, 78, 0.315), 15px 15px rgba(128, 128, 128, 0.562);
    }
}
.sliderTestimonio{
    display: flex;
    width: 200%;
    margin-left: -100%;
}
.sliderTestimonio__contenido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 6rem;
    margin-bottom: 2rem;
}
.sliderTestimonio__contenido .comillas{
    color: var(--gm-Red-800);
}
.sliderTestimonio__contenido .comentario{
    text-align: center;
    margin: 1rem auto 2rem auto;
    line-height: 1.5;
    color:var(--gm-Grey-500);
}
.sliderTestimonio__contenido .nombre{
    font-weight: 800;
    text-transform: uppercase;
    color: var(--gm-Grey-600);
}
.sliderTestimonio__contenido .distrito{
    font-weight: 500;
    color: var(--gm-Grey-700);
}
.sliderTestimonio__section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media(min-width:992px){
    .sliderTestimonio__section{
        display: grid;
        grid-template-columns: 1.5fr 2fr;
    }    
}
.sliderTestimonio__img{
    width: 40%;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 1rem;
    box-shadow: 0px 10px 13px -7px #4d4c4c, 5px 5px 15px 5px rgba(0,0,0,0);
    z-index: 1000;
}
@media(min-width:768px){
    .sliderTestimonio__img{
        width: 30%;
    }
}
@media(min-width:992px){
    .sliderTestimonio__img{
        width: 60%;
        margin: 3rem 0 3rem 6rem;
    }
}
.carousel-container{
    position: relative;
}
.sliderTestimonio__btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 8rem;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
}
.sliderTestimonio__btn--left{
    left: 5px;
}
.sliderTestimonio__btn--rigth{
    right: 5px;
}
.sliderTestimonio__btn--rigth svg:hover,
.sliderTestimonio__btn--left svg:hover{
    stroke: #838383e1;
    transition: all .5s;    
}

/*=============================
-> PARALLAX
===============================*/
.parallax{
    width: 100%;
    height:30rem; 
    background-image: url(../img/img2.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}
.fondo-parallax{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(19, 18, 18, 0.616);
    top:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media(min-width:768px){
    .parallax{
        height:40rem;
    }
}

/*=============================
-> FOOTER
===============================*/
.footer{
    color: var(--bg-white);
}
.footer-informe{
    width: 100%;
    height: 43rem;
    position: relative;
    background-image: url(../img/fondo-footer.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.footer-icons i{
    color: var(--gm-white-50);
    font-size: 3rem;
    transition: 0.3s ease;
}
.footer-icons i:hover{
    transform: scale(1);
}


@media(min-width:480px){
    .footer-informe{
        height: 46rem;
    }
}
@media(min-width:576px){
    .footer-informe{
        height: 48rem;
    }
}
@media(min-width:712px){
    .footer-informe{
        height: 50rem;
    }
}
@media(min-width:768px){
    .footer-informe{
        height: 34.5rem;
    }
}
@media(min-width:992px){
    .footer-informe{
        height: 22rem;
    }
}
.fondo-footer{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.89);
    top: 0;
}
.campos-footer{
    padding: 2rem 0 0 0;
}
.logo-footer{
    text-align: center;
}
.logo-footer img{
    width: 20%;
    margin-left: 2rem;
}
.items-footer{
    text-align: center;
    margin-top: 1rem;
}
.items li{
    text-align: left;
    padding: 8px 16px;
    display: flex;
    align-items: center;
}
@media(min-width:768px){
    .items li{
        display: block;
        width: 70%;
        margin: 0 auto;
        display: flex;
        align-items: center;
    }
}
@media(min-width:992px){
    .items li{
        width: 90%;
    }
}
.items li i{
    font-size: 2.3rem;
    margin-right: 0.5rem;
}
@media(min-width:768px){
    .items li i{
        font-size: 2.1rem;
    }
}
.items li a{
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--bg-white);
}
.items--mod li a{
    text-transform: uppercase;
}
.items--mod li a:hover{
    font-weight: 500;
}
.campo-footer:last-of-type{
    width: 100%;
    display: block;
    border-top: 1px solid #63636363;
    margin-top: 1rem;
    padding: 0.5rem 0;
    text-align: center;
    font-weight: 300;
    font-size: 3.5vw;
    background-color: var(--gm-Black-900);
}
@media(min-width:480px){
    .campo-footer:last-of-type{
        font-size: 1.4rem;
    }
}
.copyrigth a{
    color: var(--gm-White-100);
    font-weight: 600;
    
}
@media(min-width:768px){
    .logo-footer img{
        width: 15%;
        margin-left: 0;
    }
    .campos-footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .campo-footer:nth-child(1){
        text-align: center;
        display: flex;
        align-items: center;
        grid-column: 1 / 3;
        border-bottom: 1px solid #47474752;
        padding-bottom: 1rem;
    }
    .campo-footer:nth-child(3){
        grid-column: 2 / 3;
    }
    .campo-footer:nth-child(4){
        grid-column: 1 / 3;
    }
    .copyrigth a{
        font-size: 1.2rem;
    }
}
@media(min-width:992px){
    .logo-footer{
        text-align: left;
        padding-left: 10rem;
    }
    .logo-footer img{
        width: 22%;
    }
    .campos-footer{
       grid-template-columns: 1fr 1fr 1fr;
    }
    .campo-footer:nth-child(1){
        grid-column: 1 / 2;
        border-bottom: none;
    }
    .campo-footer:nth-child(3){
        grid-column: 3 / 4;
    }
    .campo-footer:nth-child(4){
        grid-column: 1 / 4;
    }
}

/*==================================
-> FIJO
====================================*/
.fijo{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: var(--gm-White-100);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    z-index: 1500;
}
.fijo .men li{
    color: var(--gm-Grey-700);
}
.fijo .brand{
    color: var(--gm-Grey-700) !important;
}
.fijo .btnMenu{
    color: var(--gm-Grey-800) !important;
}
.fijo .btnMenu .button span{
    color: red !important;
    background-color: var(--gm-Grey-600);
    
}
@media(max-width:991px){
    .children{
        height: 0;
        transition: .7s ease;
        overflow: hidden;
    }
    .activo{
        /* display: block; */
        height: 77px;
        transition: .7s ease;

    }    
}
@media(min-width:992px){
    .submenu .submenu-btn i{
        display: none;
    }
    .fijo li a{
        color: #342e2db3 !important;
    }
    .fijo li a:hover{
        color: var(--gm-Red-400) !important;
        font-weight: 300 !important;
    }
    
    .fijo .men a::before{
        background-color: var(--gm-Red-200);
    }
}











