:root{
    --bg-red: #f71735;
    --bg-white: #ffffff;
    --bg-black: #000000;
    --col-text-titulo: #444444;
    --fontOne:'Montserrat', sans-serif;
    --fontTwo:'Poppins', sans-serif;
}
/*=======reset========*/
html{
    box-sizing: border-box;
    font-size: 62.5%;
    height: 100%;
}
*,*:before, *:after{
    box-sizing: inherit;
    text-decoration: none;
    list-style-type:none;
}
body{
    font-size: 1.6rem;
    font-family: var(--tipography-menu);
    font-family: var(--fontTwo);
    min-height: 100%;
}
/**Globales**/
.contenedor{
    width: min(95%, 120rem);
    margin: 1rem auto;
}
img{
    max-width:100%;
}
/*===============================
-> UTILIDADES
=================================*/
.m-0{
    margin: 0;
}
.text-container{
    text-align: justify;
    margin-bottom: 1.5rem;
    color: #6f6f6f;
}
.pad-left-0{
    padding-left: 0;
}
.w-100{
    width: 100%;
}
.h-100{
    height: 100%;
}
p-1r{
    padding: 1rem;
}
/*===============================
-> HEADING
=================================*/
h2{
    font-family: var(--fontTwo);
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    margin-top: 0;
    color: #545454;
}
p{
    margin: 0;
    font-size: 1.5rem;
    line-height: 1.5;
}
/*===============================
-> HEADER
=================================*/
.header{
    position: relative;
    width: 100%;
    height: 100vw;
    overflow:hidden; 
}
.header-fondo{
    position: absolute;
    background-color: rgb(0 0 0 / 75%);
    width: 100%;
    height: 100%;
}
.header-top{
    display: flex;
    justify-content: space-between;
}
@media(min-width:992px){
    .header{
        background: transparent;
        width: 100%;
        height: 60vw;
    }
    .header-top{
        border-bottom: 1px solid rgba(255, 255, 255, 0.055);
        padding: 0 10%;
    }
}
@media(min-width:1200px){
    .header{
        width: 100%;
        height:65vw;
    }
}
/*=========================
->  DIV LOGO 
===========================*/
.logo{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 254, 0.507);
    color: var(--bg-white);
}
/*==========================
-> DIV NAVEGACION
============================*/
.navegacion{
    width: 100%;
    height: 100vh;
    top: 0;
    left: -100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.295);
    z-index: 4;
    /* border: 2px solid yellow; */
}
@media(min-width:992px){
    .navegacion{
        position: static;
        height: initial;
        background-color: transparent;
    }    
}
/*==========================
-> NAV
============================*/
.nav{
    width: 82%;
    height: 100%;
    background: var(--bg-white);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1px rgb(0 0 0 / 15%), inset 0 0 6px rgb(0 0 0 / 20%);
}
@media(min-width:334px){
    .nav{
        width: 87%;
    }
}
@media(min-width:480px){
    .nav{
        width: 90%;
    }
}
@media(min-width:576px){
    .nav{
        width: 92.2%;
    }
}
@media(min-width:768px){
    .nav{
        width: 94%;
    }
}
@media(min-width:992px){
    .nav{
        width: auto;
        box-shadow: none;
        padding-right: 2rem;
        background-color: transparent;
    }
}
/*====================
-> UL: MEN - SUBMEN
======================*/
.nav .men{
    width: 100%;
    padding: 0;
}
.men li{
    text-align: center;
    padding: 10px 0px;
}
.men li:hover{
    background: #8080800e;
}
.men li a{
    color: var(--colorTitulo);
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 300;
    position: relative;
}
.men li a:hover{
    font-weight: 500;
}
.men li a::after{
    content: "";
    position: absolute;
    display: block;
    width: 0;
    top: calc(100% + -1px);
    height: 2px;
    bottom: 0;
    left: 0;
    transition: all .5s;
}
.men li a:hover::after{
    width:100%;
}
@media(max-width:992px){
    .men li:hover a{
        letter-spacing: 1.1px;
        font-weight: 600;
        /* position: relative; */
    }
    .men li a::before{
        content: "";
        display: block;
        position: absolute;
        background: rgba(255, 99, 71, 0.37);
        left: 47%;
        top: calc(100% + -12px);
        width: 0;
        height: 2px;
        transition: all .5s;
    }
    .men a:hover::before{
        width: 50px;
    }
}
#men--mod{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#ico-submenu{
    cursor: pointer;
    margin-left:0.5rem;
}
.submen{
    width: 100%;
}
.submen li{
    border: none;
    padding-left: 0;
}
@media(min-width:480px){
    .men{
        width: 87%;
    }
}
@media(min-width:576px){
    .men{
        width: 89%;
    }
}
@media(min-width:600px){
    .men{
        width: 90%;
    }
}
@media(min-width:768px){
    .men{
        width: 92%;
    }
}
@media(min-width:900px){
    .men{
        width: 93%;
    }
}
@media(min-width:992px){
    #ico-submenu{
        display: none;
    }
    .men{
        width: 100%;
        display: initial;
        position: initial;
        height: initial;
        box-shadow: none;
        background-color: transparent;
        grid-column: 2 / 4;
        grid-row: 2 / 3;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 1.2rem;
    }
    .men li{
        position: relative;
        display: inline-block;
        padding: 0;
        border: none;
    }
    #men--mod{
        display: initial;
    }
    .men a{
        display: block;
        text-align: center;
        font-weight: 300;
        line-height: 50px;
        color: var(--bg-white) !important;
        position: relative;
        padding: 0 1.3rem;
    }
    .men a::before{
        content: "";
        display: block;
        background-color: rgba(233, 97, 97, 0.39);
        position: absolute;
        left: 17%;
        top: calc(100% + -12px);
        width: 0;
        height: 2px;
        transition: all .5s;
    }
    .men a.selected::before,
    .men a:hover::before{
        width: 65%;
    }
    /*===== SUBMENÚ =====*/
    .submen{
        width: 20rem;
        position: absolute;
        visibility: hidden;
        opacity: 0;
        transition: opacity 2s;
        background-color: var(--bg-white);
    }
    .submen li{
        background-color: var(--bg-white);
        border-radius: none;
    }
    .submen li a{
        display: block;
        width: 19.99rem;
        text-align: initial;
        color: grey !important;
        text-transform: uppercase;
        font-size: 1.4rem;
        transition: background-color .5s,
                    font-weight .5s,
                    letter-spacing .5s;
    }
    .men li:hover .submen{
        visibility: visible;
        opacity: 1;
    }
    .submen li a:hover{
        /* background-color: #eeeeee; */
        font-weight: 500;
        letter-spacing: 1.1px;
        border-radius: 0;
    }
    .submen a::before{
        content: none;
    }
}
@media(min-width:992px){
    .men li a{
        font-size: 1.3rem;
    }
}
/*==============================
-> COMUNICACION
================================*/
.comunicacion{
    display: none;
}
@media(min-width:768px){
    .comunicacion{
        position: absolute;
        color: var(--bg-white);
        border-top: 1px solid rgba(248, 248, 250, 0.129);
        display: flex;
        justify-content: center;
        bottom: 0;
        width: 100%;
    }
    .ubicacion, .email, .telefono{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top:2rem;
        padding-right: 1.5rem;
    }
   
    .ubicacion i, .email i, .telefono i{
        padding: 1.5rem;
        font-size: 3rem;
    }
}


/*==============================
-> BANNER
================================*/
.banner{
    border: 2px solid red;
    position: absolute;
    top: 0;
    z-index: -1;
    display: flex;
    width: 100%;
    height: 100%;

}

/*===== LOGO-MENÚ RESPONSIVE =====*/
.logo-men-responsive{
    margin-bottom: 2rem;
    position: relative;
}
.logo-men-responsive::after{
    content: "";
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    left: 45%;
    background: var(--bg-amarillo);
    margin: 0 auto;
}
.logo-men-responsive a{
    display: grid;
    place-self: center;
}
.logo-men-responsive img{
    width: 60%;
    margin: 0 auto;
}
@media(min-width:480px){
    .logo-men-responsive img{
        width: 50%;
    }
}
@media(min-width:576px){
    .logo-men-responsive img{
        width: 40%;
    }
    .logo-men-responsive::after{
        left: 47%;
    }
}
@media(min-width:992px){
    .logo-men-responsive img{
        display: none;
    }
    .logo-men-responsive::after{
        width: 0;
        height: 0;
        background: none;
    }
}
/*-> === BOTON_MENU-REPONSIVE ===*/
.btnMenu{
    display: flex;
    align-items: center;
    color: var(--bg-white);
    text-transform: uppercase;
    font-size: 1.3rem;
    padding-left: 1rem;
}
.btnMenu button{
    background: none;
    border: 0;
    cursor: pointer;
    padding: 0;
    width: 60px;
    height: 60px;
    z-index: 1;
}
.btnMenu button:hover{
    opacity: 0.8;
    transition: all .4s;
}
.btnMenu button span{
    border-radius: 5px;
    background: var(--bg-white);
    display: block;
    width: 40%;
    margin: 5px auto;
    height: 2px;
}
@media(min-width:992px){
    .contenedor-btnmenu{
        display: none;
    }
}

/*==============================
-> MAIN
================================*/

/*==============================
-> SECTION 01
================================*/
.section-1{
    display: grid;
    column-gap: 1rem;
    grid-template-areas: "column-left" "subtitle" "column-right" "list-container";
    padding: 12rem 0;
}
.subtitle{
    grid-area: subtitle;
    /* background-color: aquamarine; */
    text-align: center;
    padding: 2rem 0;
}
.column-left{/*contiene imagen*/
    grid-area: column-left;
    /* background-color: greenyellow; */
    text-align: center;
}
.picture img{
    border-radius: 50%;
    padding: 1% 12% 1% 25%;
    transition: padding ease-in-out 1.5s;
}
.picture img:hover{
    padding: 1% 25% 1% 12%;
}

.column-right{/*contiene textos*/
    grid-area: column-right;
    margin-bottom: 1rem;
    /* background-color: violet; */
}
.list-container{
    grid-area: list-container;
    border-top: 1px solid rgb(225, 224, 224);
    /* background-color: tan; */
}
.items-list{
    position: relative;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 0;
}
.item-list{
    display: flex;
    font-size: 1.5rem;
    padding: 1rem 0;
}
.item-list i{
    color: var(--bg-red);
    margin-right: 0.5rem;
}
@media(min-width:992px){
    .section-1{
       grid-template-columns: repeat(3,1fr);
    }
    .subtitle{
        grid-column: 2 / 4;
        grid-row: 1 / 2;
    }
    .column-left{
        grid-row: 1 / 3;
    }
    .column-right{
        grid-column: 2 / 4;
        grid-row: 2 / 3;
    }
    .list-container{
        grid-column: 2 / 4;
    }
}

/*==============================
-> SECTION 02: SERVICIOS
================================*/
.section-2{
    /* background:linear-gradient(120deg, #fdfbfbea 0%, #ebedeecd 100%); */
    background-color: #f7f7f7;
    padding: 12rem 0;
    overflow: hidden;
}
.bottom-container{
    /* border: 1px solid blue; */
    display: flex;
    width: 400%;
    animation: slider 40s infinite;
}
.box-container{
    /* border: 1px solid red; */
    /* margin: 0 2rem; */
    width: 100%;
    background-color: var(--bg-white);
    padding: 4rem;
}
.icon-container i{
    font-size: 5rem;
    color: var(--bg-red);
    margin: 2rem 0;
    padding: 2rem;
}
.link-container{
    margin-bottom: 2rem;
}
.link-container a{
    color: #3b3b3b;
    font-weight: 700;
    font-size: 1.8rem;
}
.link-container--mod a{
    color: #6f6f6f;
    text-transform: uppercase;
}

@keyframes slider{
    0%{margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}
@media(min-width:576px){
    .bottom-container{
        width: 200%;
        animation: slider 15s infinite; 
    }
    @keyframes slider{
        0%{margin-left: 0;}
        45%{margin-left: 0;}
    
        50%{margin-left: -100%;}
        100%{margin-left: -100%;}
    }
}
@media(min-width:995px){
    .section-2{
        overflow-wrap: break-word;
    }
    .bottom-container{
        width: 133%;
    }
    @keyframes slider{
        0%{margin-left: 0;}
        45%{margin-left: 0;}
    
        50%{margin-left: -100%;}
        100%{margin-left: 0%;}
    }
}
/*==============================
-> SECTION 03
================================*/
.section-3{
    padding: 12rem 0;
}
/*==============================
-> SECTION 04
================================*/
.section-4{
    background:linear-gradient(120deg, #fdfbfbea 0%, #ebedeecd 100%);
    padding: 12rem 0;
}
/*==============================
-> SECTION 05
================================*/
.section-5{
    padding: 12rem 0;
}
/*===================================
-> TESTIMONIO
=====================================*/
.container-sliderTestimonio{
    margin: 2rem auto;
    overflow: hidden;
    box-shadow: 0px 10px 13px -7px #3b3b3b, 5px 5px 15px 5px rgba(0,0,0,0);
    position: relative;
    border-radius: 1rem;
    border: 1px solid #b9b9b94b;
}
@media(min-width:480px){
    .container-sliderTestimonio{
        border-bottom-right-radius: none;
        border-radius: 1rem;
    }
}
@media(min-width:768px){
    .container-sliderTestimonio{
        box-shadow: none;
        position: relative;
    }
    .container-sliderTestimonio:before{
        position: absolute;
        content: "";
        z-index: -1;
        bottom: 10px;
        left: 1px;
        top: 80%;
        width: 60%;
        box-shadow: 0 18px 15px #d8d8d8;
        transform: rotate(-4deg);
    }
    .container-sliderTestimonio:after{
        position: absolute;
        content: "";
        z-index: -1;
        bottom: 10px;
        right: 1px;
        top: 80%;
        width: 60%;
        box-shadow: 0 18px 15px #d8d8d8;
        transform: rotate(4deg);
    }
}
@media(min-width:992px){
    .container-sliderTestimonio::after,
    .container-sliderTestimonio::before{
        content: none;
    }
    .container-sliderTestimonio{
        border-radius: 0;
        box-shadow: 8px 8px rgba(78, 78, 78, 0.315), 15px 15px rgba(128, 128, 128, 0.562);
    }
}
.sliderTestimonio{
    display: flex;
    width: 200%;
    margin-left: -100%;
}
.sliderTestimonio__contenido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 6rem;
    margin-bottom: 2rem;
}
.sliderTestimonio__contenido .comillas{
    color: rgb(88, 86, 86);
}
.sliderTestimonio__contenido .comentario{
    text-align: center;
    margin: 1rem auto 2rem auto;
    line-height: 1.5;
}
.sliderTestimonio__contenido .nombre{
    font-weight: 800;
    text-transform: uppercase;
}
.sliderTestimonio__contenido .distrito{
    font-weight: 500;
    color: var(--bg-black-firstChildren-opacity);
}
.sliderTestimonio__section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media(min-width:992px){
    .sliderTestimonio__section{
        display: grid;
        grid-template-columns: 1.5fr 2fr;
    }    
}
.sliderTestimonio__img{
    width: 40%;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 1rem;
    box-shadow: 0px 10px 13px -7px #4d4c4c, 5px 5px 15px 5px rgba(0,0,0,0);
    z-index: 1000;
}
@media(min-width:768px){
    .sliderTestimonio__img{
        width: 30%;
    }
}
@media(min-width:992px){
    .sliderTestimonio__img{
        width: 60%;
        margin: 3rem 0 3rem 6rem;
    }
}
.carousel-container{
    position: relative;
}
.sliderTestimonio__btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 8rem;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
}
.sliderTestimonio__btn--left{
    left: 5px;
}
.sliderTestimonio__btn--rigth{
    right: 5px;
}
.sliderTestimonio__btn--rigth svg:hover,
.sliderTestimonio__btn--left svg:hover{
    stroke: #838383e1;
    transition: all .5s;    
}

/*=============================
-> PARALLAX
===============================*/
.parallax{
    width: 100%;
    height:30rem; 
    background-image: url(../img/img2.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}
.fondo-parallax{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(19, 18, 18, 0.616);
    top:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media(min-width:768px){
    .parallax{
        height:40rem;
    }
}

/*=============================
-> FOOTER
===============================*/
.footer{
    color: var(--bg-white);
}
.footer-informe{
    width: 100%;
    height: 43rem;
    position: relative;
    background-image: url(../img/fondo-footer.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media(min-width:480px){
    .footer-informe{
        height: 46rem;
    }
}
@media(min-width:576px){
    .footer-informe{
        height: 48rem;
    }
}
@media(min-width:712px){
    .footer-informe{
        height: 50rem;
    }
}
@media(min-width:768px){
    .footer-informe{
        height: 34.5rem;
    }
}
@media(min-width:992px){
    .footer-informe{
        height: 22rem;
    }
}
.fondo-footer{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.89);
    top: 0;
}
.campos-footer{
    padding: 2rem 0 0 0;
}
.logo-footer{
    text-align: center;
}
.logo-footer img{
    width: 20%;
    margin-left: 2rem;
}
.items-footer{
    text-align: center;
    margin-top: 1rem;
}
.items li{
    text-align: left;
    padding: 8px 16px;
    display: flex;
    align-items: center;
}
@media(min-width:768px){
    .items li{
        display: block;
        width: 70%;
        margin: 0 auto;
        display: flex;
        align-items: center;
    }
}
@media(min-width:992px){
    .items li{
        width: 90%;
    }
}
.items li i{
    font-size: 2.3rem;
    margin-right: 0.5rem;
}
@media(min-width:768px){
    .items li i{
        font-size: 2.1rem;
    }
}
.items li a{
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--bg-white);
}
.items--mod li a{
    text-transform: uppercase;
}
.items--mod li a:hover{
    font-weight: 500;
}
.campo-footer:last-of-type{
    width: 100%;
    display: block;
    border-top: 1px solid #63636363;
    margin-top: 1rem;
    padding: 0.5rem 0;
    text-align: center;
    font-weight: 300;
    font-size: 3.5vw;
    background-color: var(--bg-black);
}
@media(min-width:480px){
    .campo-footer:last-of-type{
        font-size: 1.4rem;
    }
}
.copyrigth a{
    color: var(--bg-white);
    font-weight: 600;
    
}
@media(min-width:768px){
    .logo-footer img{
        width: 15%;
        margin-left: 0;
    }
    .campos-footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .campo-footer:nth-child(1){
        text-align: center;
        display: flex;
        align-items: center;
        grid-column: 1 / 3;
        border-bottom: 1px solid #47474752;
        padding-bottom: 1rem;
    }
    .campo-footer:nth-child(3){
        grid-column: 2 / 3;
    }
    .campo-footer:nth-child(4){
        grid-column: 1 / 3;
    }
    .copyrigth a{
        font-size: 1.2rem;
    }
}
@media(min-width:992px){
    .logo-footer{
        text-align: left;
        padding-left: 10rem;
    }
    .logo-footer img{
        width: 22%;
    }
    .campos-footer{
       grid-template-columns: 1fr 1fr 1fr;
    }
    .campo-footer:nth-child(1){
        grid-column: 1 / 2;
        border-bottom: none;
    }
    .campo-footer:nth-child(3){
        grid-column: 3 / 4;
    }
    .campo-footer:nth-child(4){
        grid-column: 1 / 4;
    }
}
